
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@keyframes fadeIn {
    0% {opacity: .5;}
    100% {opacity: 1;}
}

body {
    background: whitesmoke;
    font-family: 'Roboto Slab', serif;
    font-family: 'Special Elite', cursive;
}
h1 {
    text-align: center;
    font-size: 5vw;
    font-family: 'Lobster', cursive;
}

h2 {
    font-family: 'Lobster', cursive;
    font-size: xx-large
}

h4 {
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    color: white;
  }

li{
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    color: white;
}

.carousel {
    position: relative;
  }
  
.carousel__item {
    width: 90vw;
    background: grey;
    padding: 1em;
    color: whitesmoke;
    animation: fadeIn 1s;
    display: none;
}
  
.carousel__item--selected {
    display: block;
}
  
/* .carousel__nav {
    width: 100%;
    padding: 2vw ;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    display: none
} */
  
  /* .carousel__button {
    width: 1.5vw;
    height: 1.5vw;
    display: inline-block;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
   */
.carousel__button--selected {
    background: rgba(255, 255, 255, 0.7);
}
  
.link__nav {
   height: 4.5vw;
   width: 83vw;
   display: flex;
   justify-content: start;
   background: rgba(110, 110, 110, 0.081);
}
.link__item {
   text-align: center;
   width: 15vw;
   cursor: pointer;
   padding-inline-start: 1vw;
   font-size: 3vw;
}

/* .social__bar {
    width: 96vw;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    float: inline-start;
} */

.social__button {
    position: relative;
    left: 35vw;
    height: 4vw;
    width: 4vw;
    
}

.block__text {
   display: flex;
   flex-direction: column;
   margin: auto;
   width: 70vw; 
   border: .5vw;
   border-style: inset;
   padding: 10px;
}

.prof__pic {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vw;
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    width: 150px;
    display: flex;
    justify-content: flex-start;
  }

  .project__pic {
    border: 1px solid #ddd;
    width: max-content;
    height: 150px;
    cursor: pointer;
  }

  #content {
    display: inline;
  }

  #contact__information {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    font-size: medium;
    height: 10vh;
    width: 20vw;
    padding-right: 0vw;
    right: 15vw;
    float: right;
    margin-bottom: 0vw;
    margin-left: 2vw;
    margin-top: -.5vw;
  }

  #skills {
    display: flex;
    justify-content: space-around;
  }

  #project__organizer {
        /* display: flex; */
        flex-wrap: wrap;
        flex-direction: column;
        margin: auto;
        width: fit-content; 
        height: fit-content;
        border: .5vw;
        border-style: inset;
        padding: 10px;
  }

  #linked__button {
    width: 5vw;
  }

@media (max-width: 800px) { 
    .link__nav {
height: 10vw;
width: 70vw;
    } 
    .link__item {
        font-size: 7vw;
        width: auto;
        padding-left: 5px;
        border: outset;
        font-stretch: ultra-condensed;
    }
    .social__button {
        left: 5vw;
        height: 10vw;
        width: 10vw;
    }
    #linked__button {
        width: 12vw;
    }
    #contact__information {
        display: inline-block;
        flex-direction: none;
        align-items: none;
        position: relative;
        font-size: large;
        height: 15vh;
        width: 50vw;
        padding-right: 0vw;
        right: 0vw;
        float: none;
        margin-bottom: 0vw;
        margin-left: 0vw;
        margin-top: 0vw;
      }
}

@media (max-width: 600px) {
    .link__nav {
        width: 74vw;
    }
}

@media (max-width: 300px) {
    .link__nav {
        height: 10vw;
        width: 80vw;
            } 
    #contact__information {
        display: inline-block;
        flex-direction: none;
        align-items: none;
        position: relative;
        font-size: medium;
        height: 25vh;
        width: 50vw;
        padding-right: 0vw;
        right: 0vw;
        float: none;
        margin-bottom: 0vw;
        margin-left: 0vw;
        margin-top: 0vw;
      }
}

@media (prefers-color-scheme: dark) {
    body {
        background: rgb(80, 55, 55);
        color: whitesmoke;
    }
    .carousel__item {
        background: rgb(40, 40, 40);
        color: whitesmoke;
        animation: fadeIn 1s;
        display: none;
    }
}